.icons-list > li {
	margin-left: 12px;
}

.icons-list .btn {
	margin: 0;
	padding: 0;
	line-height: 1;
}

.caret {
	margin-left: 1px;
}

label {
	color: #444;
	font-weight: bold;
}

.sidebar-detached .sidebar {
	width: auto;
}

.chart-legend {
	display: block;
	margin-bottom: 5px;
	padding: 0;
	list-style: none;
}

.legend-color {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin-right: 3px;
}

#data-console {
	height: 140px;
	white-space: nowrap;
}
